<form (ngSubmit)="submitOutcode()">
  <label for="outcode">Enter outcode:</label><br>
  <input type="text" id="outcode" [(ngModel)]="outcode" name="outcode"><br>
  <input type="submit" value="Submit">
</form>

<app-restaurant-list [outcode]="outcode" #restaurantList></app-restaurant-list>

