<div *ngFor="let restaurant of restaurants">
  <h2>{{ restaurant.Name }}</h2>
  <p>Rating: {{ restaurant.Rating }}</p>
  <p>Cuisine Types: {{ restaurant.CuisineTypes.join(', ') }}</p>
  <img src="{{ restaurant.LogoUrl }}" alt="{{ restaurant.Name }} logo">
</div>
